#-  Apache web server configuration file

#-  .htaccess ~~
#
#   This file configures Apache for Heroku by immediately disabling PHP, which
#   means that this app cannot generate dynamic content -- everything must be
#   static. Read more at http://goo.gl/gGYax :-)
#
#                                                       ~~ (c) SRW, 18 Jul 2013
#                                                   ~~ last updated 18 Jul 2013

php_flag engine off

#-  vim:set syntax=apache:
